@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
}

.home_bg {
  position: relative;
  height: 75vh;
  width: 100%;
  background-image: url(../assets/homebg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home_bg_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.16),
    rgba(0, 0, 0, 0.562)
  );
}

.home_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home_content h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  font-weight: 800;
  text-shadow: 4px 4px 8px #00000063;
}

.home_content p {
  display: block;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.home_content form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.home_content form input {
  width: 100%;
  height: 3rem;
  border: 1px solid #fff;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none !important;
}

.home_content form button {
  width: 20%;
  height: 3rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid #fff;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

#servicesDropdown {
  position: relative;
  width: 100%;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: #fff;
}

#servicesDropdown div {
  padding: 1rem;
  cursor: pointer;
}

/* -------------- services ---------------- */

.services_container {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  top: -60px;
  background-color: #ffffff;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 50px #00000028;
}

.service_card_container {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.service_card {
  width: 160px;
  height: 140px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;
  overflow: hidden;
  transition: 0.5s ease;
}

.service_card:hover {
  box-shadow: 1px 1px 50px #0000002a;
  cursor: pointer;
}

.services_container h2,
.services_container p {
  display: none;
}

/* ------------ popuolar services --------------- */

.popular_services{
  width: 80%;
  margin: auto;
}

.popular_services h2{
  font-size: 2rem;
  font-weight: 600;
}

.popular_services p{
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}


.popular_service_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.popular_service_card{
  position: relative;
  height: 300px;
  width: 220px;
  border-radius: 4px;
  margin: 1rem;
}

.popular_service_card:nth-child(1){
  margin-left: 0;
}

.popular_service_card:nth-child(5){
  margin-right: 0;
}


.popular_service_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popular_service_card_content{
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;;
}

.popular_service_card_content h2{
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.popular_service_card_content h4{
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

/* -------------------- referral code ------------------------ */

.referral_container{
  position: relative;
  width: 100%;
  background-color: #0d084d;
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  margin-top: 2.5rem;
}

.referral_content{
  width: 50%;
  margin: auto;
  padding: 0 4rem;
}

.referral_content h2{
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.referral_content p{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.referral_content button{
  padding: 10px 20px;
    background: #00cd6e;
    color: #fff;
    border-radius: 4px
}

.referral_img_container{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .home_bg {
    height: 100vh;
  }

  .home_content {
    top: 40%;
    width: 80%;
    top: 50%;
  }

  .home_content h2 {
    font-size: 2rem;
  }

  .home_content p {
    font-size: 1rem;
  }

  .home_content form {
    flex-direction: column;
  }

  .home_content form input {
    width: 80%;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .home_content form button {
    width: 80%;
    border-radius: 0.5rem;
  }

  .services_container {
    width: 100%;
    top: 0;
  }

  .service_card {
    width: 50%;
    margin: 1rem 0;
  }

  .services_container h2 {
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 1rem 0;
  }

  .services_container p {
    display: block;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
  }

  .popular_services{
    width: 100%;
    padding: 20px;
  }

  .popular_service_container{
    justify-content: center;
  }

  .popular_service_card{
    width: 80%;
    height: 300px;
    margin: 1rem 0;
  }

  .popular_service_card:nth-child(1){
    margin-left: 0;
  }

  .popular_service_card:nth-child(5){
    margin-right: 0;
  }

  .popular_service_card_content h2{
    font-size: 1.2rem;
  }

  .popular_service_card_content h4{
    font-size: 0.8rem;
  }

  .referral_container{
    flex-direction: column;
  }

  .referral_content{
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 1rem;
  }

  .referral_img_container{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .referral_img_container img{
    width: 90%;
  }

  .referral_content button{
    width: 80%;
    border-radius: 0.5rem;
    margin: 1rem 0;
    margin-bottom: 3rem;
  }

  .referral_content h2{
    font-size: 1.5rem;
  }

  .referral_content p{
    font-size: 1rem;
  }

  .referral_content button{
    padding: 10px 20px;
    background: #00cd6e;
    color: #fff;
    border-radius: 4px
  }
}
